body{
	padding: 10px;
	background-color: white;
	font-size: 125%;
}

h1{
    font-size: 38px;
    font-weight: bold;
}

h2{
    font-size: 28px;
}
p{
    margin: 50px;
    padding: 10px;
    line-height: 1.2;
}

img{
    width: 20%;
    min-height: 100px;
    padding: 10px;
    border: 15px solid red;
}

li{
    display: inline-block;
}

#maincontent{
    position: absolute;
}